*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(215, 235, 225);
}

.card{
    background-color: rgb(27, 179, 240);
    width: 20%;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 1px 1px 10px gray;
}

.card h1{
    color: rgb(213, 250, 48);
    font-weight: bold;
}

.card input{
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.card button{
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.card button:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
}